@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --tw-gradient-from: rgba(17, 21, 26, var(--tw-from-opacity, 1));
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(255, 255, 255, 0));
  --tw-gradient-to: rgba(44, 50, 60, var(--tw-to-opacity, 1));
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

a {
  color: #3273dc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  line-height: inherit;
  color: inherit;
}

input[type='date'] {
  width: 30rem;
}

input[type='submit'] {
  display: block;
  margin: 0 auto;
  margin-left: 5rem;
  margin-right: 5rem;

  // HACK: Precice width.
  width: 87.4% !important;
}

select {
  border-right: 1rem solid transparent !important;
  background-position: center right;
  background-repeat: no-repeat;
  color: inherit;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 1.3rem !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Builtin WebKit pseudo-elements {{{
::-webkit-datetime-edit {
  padding: 1rem;
  color: white;
}
::-webkit-calendar-picker-indicator {
  // HACK: using `color` is not allowed, so inverting it will have to do!
  filter: invert(1);
  padding: 1rem;
}
// }}}

.container {
  display: flex;
  //  TODO: Fix weird offset issue.
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
}

.input-box {
  flex: none;
  width: 30rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  height: 4rem;
}
