// Tables {{{
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: rgb(39, 44, 53);
}
// }}}

// Totals {{{
* [class*='-container'] {
  display: flex;
  max-width: 920px;
  margin: 0 auto;

  .item {
    padding: 1em;
    border: 3px solid rgb(82, 120, 158);
  }
}
// }}}
